@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center" style="font-family:'Montserrat', sans-serif;"><strong>Условия аренды</strong></h1>
<p style="font-size:16px; font-family:'Montserrat', sans-serif;">
    Мы предоставляет аренду автомобилей на самых выгодных условиях. Аренда автомобилей в нашей компании осуществляется посуточно (минимум  1 сутки) и по часам (минимум 4 часа).
    <br />Отсчет времени начинается с момента подписания акта приема-передачи автомобиля.
    <br />Для автомобилей эконом-класса достаточно минимального стажа вождения, для автомобилей стоимостью свыше 70 руб., стаж вождения необходим не менее 2 лет
    Все автомобили застрахованы, при ДТП необходимо незамедлительно оповестить нас и вызывать ГАИ.
</p>
<h4 style="font-family:'Montserrat', sans-serif;"><strong>Тарифы на аренду авто включают:</strong></h4>
