@model CarSharing.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}

<div class="card">
    <div class="card-header">
        <h2>Change password menu</h2>
    </div>
    <div class="card-body">
        <form  method="post" asp-controller="UsersAccount" asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Current password</label>
                <input type="password" asp-for="OldPassword" class="form-control bg-light text-dark" />
                <span asp-validation-for="OldPassword"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">New password</label>
                <input type="password" asp-for="NewPassword" class="form-control bg-light text-dark" />
                <span asp-validation-for="NewPassword"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm new password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control bg-light text-dark" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>